body{
	font-family: 'Raleway', sans-serif;
}

#btnUp{
	background-color: #2a80b9;
	color: #fff;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    display: none;
}
#btnUp:hover{
	background-color: #000;
}

/* Start of Loading */

#loading{
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index:10000;
}
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 30%;
  left: 50%;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
/* End of Loading */

/* Start of Nav */

.navbar{
	border-bottom: solid 1px #868e96;
	transition: all 0.3s;
	padding: 20px;
}
.navbar .navbar-brand{
	margin-left: 100px;
}
@media(max-width:700px){
  
  .navbar .navbar-brand{
	margin-left: 0px;
  }

}
.navbar .navbar-brand img{
	width: 100px;
}
.navbar .collapse ul li {
	padding-right: 20px;
}
.navbar .collapse .navbar-nav .nav-item .nav-link{
	color: #fff;
	font-size: 14px;
}
.navbar .collapse .navbar-nav .nav-item .nav-link:hover{
	color: #2a80b9;
}
.navbar i{
	color: #fff;
}
/* End of Nav */

/* Start of Home */

.home{
	position: relative;
	overflow: hidden;
}
.home .arrow{
    position: absolute;
	top:45%;
	left: 0;
	z-index: 100; 
}
.home .arrow .arrow-item{
	padding:15px;
	border: 1px solid #fff;
	border-left: none; 
    cursor: pointer;
}
.home .arrow .arrow-item i{
    color: #fff; 
}
.home .item1 {
    background-image: url('images/bg-image-28.jpg');
    background-size: cover; 
}
.home .item2{
	background-image: url('images/bg-image-29.jpg');
    background-size: cover; 
}
.home .caption {
	color: #fff;
	padding-top: 300px; 
	background-color: rgba(0,0,0,0.5);
	height: 100%;
}
.home .caption h2{
	font-size: 90px;
}
.home .caption h4{
	font-size: 18px;
}
@media(max-width:800px){
	.home .caption{
		padding-top: 130px
	}
}

/* End of Home */

/* Start of About */

.about{
	overflow: hidden;
	padding: 100px 0px;
}
.about .nav{
	border:none;
}
.about .caption{
	padding: 0px 100px 100px 100px;
}
.about .nav-tabs .nav-link{
	color: #000;
	font-size: 12px; 
}
.about .nav-tabs .nav-link.active{
    color: #000;
	border-bottom: solid 1px #000;
	border-top: none;
	border-left: none;
	border-right: none;
}
.about .nav-tabs .nav-link:hover:not(.active){
	border: none;
}
.about .content p{
	font-size: 14px;
}

/* End of About */


/* Start of Team */

.team{ 
	padding: 150px 20px; 
	overflow: hidden;
	background-color: #f7f7f7;
}	
.team h2{
	font-weight: bold;
	font-size: 40px;
}
.team .item{
	overflow: hidden;
	position: relative; 
	margin-bottom: 20px;
}
.team .item .caption{
	color: #fff;
	position: absolute;
	top:50px;
	bottom: 0%;
	width: 100%;
	height: 100%;
	padding-top: 120%;
    opacity: 0;
	transition: all 0.3s;
}
.team .item:hover .caption{
	background-color: rgba(0, 195, 218, 0.9);
	padding-top: 60%;
	top:0;
	opacity: 1;
}
.team .item .caption p{
	font-weight: bold;
}
.team .icon{
	position: absolute;
	top: 10px;
	left: 5px;
}
.team .info{
	position: absolute;
	bottom: 15px;
	left: 10px;
	font-size: 12px;
}

/* End of Team */

/* Start of Works */

.works{
	margin: 70px 0px;
}
.works h2{
	font-weight: bold;
	font-size: 40px;
}
.works .nav-mine{
	border: none;
}
.works .nav-tabs .nav-link{
    font-weight: 500;
    font-size: 14px;
    color: #868e96;
}
.works .nav-tabs .nav-link.active{
    color: #00c3e1;
    border: 1px solid #00c3e1;
    border-radius: 300px;
}
.works .nav-tabs .nav-link:hover:not(.active){
    color: #868e96;
    border: none;
}
.works .item{
	overflow: hidden;
	margin-bottom: 20px;
	position: relative;
}
.works .item .caption{
	background-color: #fff;	
	color: #000;
	position: absolute;
	top: 120%;	
	width: 100%;
	height: 100px; 
	opacity: 0;
	transition: all 0.5s;
	box-shadow: 1px 1px 10px  #444;
}
.works .item:hover .caption{
	top:70%;
	opacity: 1;
}
.works .item .caption h4{
	padding-top: 20px;
	opacity: 0;
	transition: all 1s;
	transition-delay: 0.5s;
}
.works .item:hover .caption h4{
	opacity: 1;
}
.works .item .caption p{
	opacity: 0;
	transition: all 1s;
	transition-delay: 0.8s;
}
.works .item:hover .caption p{
	opacity: 1;
}
.works .item .work-img img{
	transition: all 1s;
}
.works .item:hover .work-img img{
	transform: scale(1.3,1.3);
}

/* End of Works */

/* Start of Pricing */

.pricing{
	background-color: #f7f7f7;
	padding: 100px 0px;
}
.pricing .item{
	background-color: #fff;
	padding: 20px 0px;
	margin-bottom: 20px;
	position: relative;
	bottom: 0px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.11);
	transition: all 0.3s;
}
.pricing .item:hover{
	box-shadow: 10px 10px 90px rgba(0, 0, 0, 0.11);
}
.pricing .item .price h4{
	font-size: 18px;
}
.pricing .price p{
	font-size: 50px;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 2px solid rgba(42, 42, 42, 0.03);
}
.pricing .item .price-btn .item-btn {
	background-color: #00c3da;
	color: #fff;
	font-size: 14px;
	padding: 7px 10px;
}
.pricing .item .price-btn .item-btn:hover {
	background-color: #00c3e1;
	color: #fff;
}
#item-gold {
	height: 470px;
	position: relative;
	bottom: 15px;
	box-sizing: border-box;
}
#item-gold .price p{
	color: #00c3da;
}
/* End of Pricing */

/* Start of Counter */

.counters{
	background-color: #000;
	color: #fff;
	padding: 50px 0px;
}
.counters .caption h2{
	font-size: 45px;
}
.counters .caption h4{
	font-size: 16px;
}

/* End of Counter */


/* Start of Clients */

.clients{
	padding:100px 0px;
	overflow: hidden;
	background-color: #f7f7f7;
}
.clients .slider{
	width: 50%;
	margin:auto;
	height: 350px;
	box-shadow: 10px 10px 90px rgba(0, 0, 0, 0.11);
	border-radius: 10px;
	position: relative;
}
@media(max-width: 767px){
	.clients .slider{
		width: 90%;
	}
}
.clients .slider .item .item-img{
    margin: auto;
    height: 100px;
    width: 100px;
}
.clients .slider .item .caption{
	padding-top: 10px; 
}

/* End of Clients */


/* Start of Brands */

.brands{
	padding : 100px 0px;
}
.brands img{
	padding: 50px;
	cursor: pointer;
}

/* End of Brands */


/* Start of Contact */

.contact{
	overflow: hidden;
}
#map{
	height: 900px;
}
.contact .details{
	padding: 100px 0px;
}
.contact button{
	background-color: #00c3da;
	color: #fff;
	padding: 10px 15px;
	font-size: 12px;
}

/* End of Contact */


/* Start of Footer */

.footer{
	overflow: hidden;
}
.footer .item{
	height: auto;
	background-color: rgba(0,0,0,0.2);
	background-image: url('images/dotted-map.png'); 
	background-size: contain;
	background-repeat: no-repeat;
	height: 400px;
	padding: 70px 50px 70px 50px;
}
.footer img{
	height: 60px;
	width: 130px;
}
.footer p{
	font-size: 14px;
}
.footer h6{
	font-size: 14px;
	font-weight: bold;
	line-height: 2;
}

/* End of Footer */
